---
// import { Icon } from ".";
import Icon from './Icon.astro'
---

<script>
  import { useDark } from '@vueuse/core'

  class ThemeToggle extends HTMLElement {
    constructor() {
      super()

      const isDark = useDark({ storageKey: 'blog-theme' })

      /** Set the theme to dark/light mode. */
      const toggleTheme = (): void => {
        isDark.value = !isDark.value

        // set html attribute data-theme
        document.documentElement.setAttribute('data-theme', isDark.value ? 'dark' : 'light')
      }

      /**
       * Handle the click event.
       * @param func toggle theme function
       * @param ev MouseEvent
       */
      const handleClick = (func: () => void, ev: MouseEvent): void | Promise<void> => {
        if (!document.startViewTransition) return func()

        const { clientX: x, clientY: y } = ev

        // Calculate the maximum circle radius from the mouse click position to the viewport
        const endRadius = Math.hypot(Math.max(x, innerWidth - x), Math.max(y, innerHeight - y))

        document.documentElement.classList.add('theme-clip')

        const clipSize = ['0px', `${endRadius}px`]

        /**
         * see: https://developer.mozilla.org/en-US/docs/Web/API/Document/startViewTransition
         */
        const transition = document.startViewTransition(() => func())

        transition.ready.then(() => {
          document.documentElement.style.setProperty('--tx', `${x}px`)
          document.documentElement.style.setProperty('--ty', `${y}px`)

          document.documentElement.animate(
            {
              '--clip-size': isDark.value ? [...clipSize].reverse() : clipSize,
            },
            {
              duration: 480,
              easing: 'ease-in-out',
              fill: 'forwards',
              pseudoElement: isDark.value ? '::view-transition-old(root)' : '::view-transition-new(root)',
            },
          )
        })

        transition.finished.then(() => {
          document.documentElement.classList.remove('theme-clip')
          document.documentElement.style.removeProperty('--tx')
          document.documentElement.style.removeProperty('--ty')
        })
      }

      // Toggle the theme when a user clicks the button.
      const button = document.getElementById('btn')
      button?.addEventListener('click', (e) => handleClick(toggleTheme, e))
    }
  }
  customElements.define('theme-toggle', ThemeToggle)
</script>

<theme-toggle class="flex-center">
  <!-- <button id="btn">
    <Icon icon="sun" class="icon light" />
    <Icon icon="moon" class="icon dark" />
  </button> -->

  <div id="btn" i-ri-sun-line dark:i-ri-moon-line></div>
</theme-toggle>

<style lang="scss">
  #btn {
    @apply text-4 cursor-pointer py-0 px-0 color-text op60 hover:op100;
  }

  .icon {
    @apply color-text;
  }

  :global(html.dark) .light {
    display: none;
  }

  :global(html:not(.dark)) .dark {
    display: none;
  }
</style>
