---

---

<script>
  import { useWindowScroll, watchDeep } from '@vueuse/core'

  class ToTop extends HTMLElement {
    constructor() {
      super()

      const totop = () => {
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        })
      }

      const element = this.querySelector('button')

      element?.addEventListener('click', () => totop())

      const { y } = useWindowScroll()

      watchDeep(
        y,
        (value) => {
          const element = this.querySelector('button')

          if (!element) return

          element.style.display = value > 300 ? 'grid' : 'none'

          if (value > 300) {
            element?.classList.remove('op0', 'pointer-events-none')
          } else {
            element?.classList.add('op0', 'pointer-events-none')
          }
        },
        {
          immediate: true,
        },
      )
    }

    connectedCallback() {
      // console.log("The element has been attached to the DOM.");
    }

    disconnectedCallback() {
      // console.log("The element has been removed from the DOM.");
    }

    adoptedCallback() {
      // console.log("The element has been moved to a new DOM.");
    }

    attributeChangedCallback(_name: string | null, _oldValue: string | null, _newValue: string | null) {
      // console.log(`${name} has changed from ${oldValue} to ${newValue}.`);
    }
  }

  customElements.define('to-top', ToTop)
</script>

<to-top>
  <button title="Scroll to top" class="op0">
    <div class="i-ri-arrow-up-line"></div>
  </button>
</to-top>

<style lang="scss">
  to-top {
    @apply fixed bottom-3 right-3 z-100;

    button {
      @apply btn-circle p-0 w-10 h-10 bg-black/5 dark:bg-white/5 color-text flex-center transition-base;
    }
  }
</style>
