---
import { BaseHead, Footer, Header } from '@/components'
import ArtDots from '@/components/ArtDots.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts'
import 'virtual:uno.css'

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />

    <script is:inline>
      const theme = localStorage.getItem('blog-theme')

      if (theme === 'dark') {
        document.documentElement.classList.add('dark')
      }
    </script>

    <script>
      const main = document.querySelector('main')

      function hasOnlyText(a: HTMLAnchorElement) {
        if (!(a instanceof HTMLAnchorElement)) return false
        if (a.children.length > 0) return false
        return a.textContent.trim().length > 0
      }

      if (main instanceof HTMLElement) {
        const links = main.querySelectorAll('a')

        links.forEach((link) => {
          if (!hasOnlyText(link)) return

          const text = link.dataset.text || link.textContent.trim()
          link.ariaLabel = link.textContent.trim() || link.getAttribute('href') || 'Link'
          link.dataset.text = link.ariaLabel
          link.classList.add('roll-link')

          link.textContent = ''
          ;[...text].forEach((ch, i) => {
            const wrap = document.createElement('span')
            wrap.className = 'char-wrap'
            wrap.style.setProperty('--i', String(i))
            if (ch === ' ') {
              wrap.textContent = '\u00A0'
              link.append(wrap)
              return
            }

            const cur = document.createElement('span')
            cur.className = 'char'
            cur.textContent = ch

            const next = document.createElement('span')
            next.className = 'char-next'
            next.textContent = ch

            wrap.append(cur, next)
            link.append(wrap)
          })
        })
      }
    </script>

    <slot name="style" />
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />

    <ArtDots />
  </body>
</html>
